@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  background-image:url('./images/bg.png');
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.tcard{

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.tcard:hover {
  background-color: #e4dd85;
  transform: scale(0.9);
}
.icon {
  font-size: 35px;
  color: #292929;
}
